<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94274609866-7qv0qh0tsfj7566ks1753vsokcjvp3p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94274609866-7qv0qh0tsfj7566ks1753vsokcjvp3p6</string>
	<key>API_KEY</key>
	<string>AIzaSyCTAOLkXlZhfyhQxzx71sd0ZJx-oT-dt-0</string>
	<key>GCM_SENDER_ID</key>
	<string>94274609866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sikatta.Quotes</string>
	<key>PROJECT_ID</key>
	<string>quotesapp-7e6f1</string>
	<key>STORAGE_BUCKET</key>
	<string>quotesapp-7e6f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94274609866:ios:cf2676fd703a1d02338a33</string>
</dict>
</plist>